CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

VNDATA_S3_ENDPOINT=
VNDATA_S3_BUCKET=
VNDATA_S3_ACCESS_KEY=
VNDATA_S3_SECRET_KEY=
VNDATA_S3_REGION=us-east-1
VNDATA_PUBLIC_BASE_URL=
VNDATA_S3_WEBSITE_ENDPOINT=
